.grid{}
.grid .bx_content_section{
    margin-bottom: 15px;
}
.grid .bx_sidebar{
    margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
    float: left;
    width: 66%;
    margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
    float: right;
    width: 33%;
    margin-bottom: 15px;
    padding-left: 5%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
@media (max-width:960px){
    .grid2x1 .bx_sidebar{
        padding-left: 4%;
    }
}
@media (max-width:640px) {
    .grid2x1 .bx_content_section,
    .grid2x1 .bx_sidebar{
        width: 100%;
        float: none;
    }
    .grid2x1 .bx_sidebar{
        padding-left: 3%;
    }
}
@media (max-width:479px){
    .grid2x1 .bx_sidebar{
        padding-left: 1%;
    }

}

.catalog-block-header{
    font-size:14px;
    font-weight: bold;
    text-align: left;
    margin:5px 0;
    padding:5px 15px;
    border-bottom: 2px solid #d9dee6;
    color: #000;
}

body.bx-theme-blue .catalog-block-header{border-color:#006cc0;}
body.bx-theme-green .catalog-block-header{border-color:#63aa28;}
body.bx-theme-red .catalog-block-header{border-color:#da3737;}
body.bx-theme-yellow .catalog-block-header{border-color:#f4b236;}

.bxr-product-block-title {
    font-size: 18px;
    color: #181818;
    font-weight: bold;
    margin: 16px 0px 20px;
}

.bxr-section-desc {
    margin: 0px 0px 10px;
}

.bxr-container-catalog-section
, .bxr-container-catalog-sections {
    background-color: #fff;
    background-clip: content-box;
}

.bxr-container-catalog-section h1
,.bxr-container-catalog-sections h1
,.bxr-container-catalog-compare h1{
    border-bottom: 1px solid #ededed;
    padding: 0.2rem 0 2.0rem 0;
    margin: 0 0 1.8rem 0;
}

.bxr-container-catalog-compare h1{
    margin: 0 0 3.2rem 0;
}

.bxr-container-catalog-section>div
, .bxr-container-catalog-sections>div {
    padding: 20px;
}

.bx-sidebar-block .bxr-left-column-js {
    margin-top: 0;
}
