.bxr-brands-list {
    padding: 14px 0px;
    margin-bottom: 30px;
}

.bxr-list .slick-slider .slick-prev
,.bxr-list .slick-slider .slick-next {
    content: ' ';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px;
}

.bxr-list .slick-arrow.hidden-arrow {
    opacity: 0;
}

.bxr-list .slick-slider .slick-next {
    right: 0;
    left: auto;
}

.bxr-list:hover .slick-arrow {
    opacity: .8;
}

.bxr-list .slick-dots {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -50%;
}

.bxr-list .slick-dots li {
    float: left;
    margin-right: 6px;
}

.bxr-list .slick-dots li button {
    cursor: pointer;
    position: relative;
    width: 12px;
    height: 12px;
    border: none;
    color: transparent;
    border-radius: 50%;
    font-size: 0;
}

.bxr-brandblock-slider-max-height {
	max-height: 99px;
	overflow: hidden;
}