.action-form-t form input[type=text], .action-form-t form input[type=password] {
	margin-bottom: 20px;
}

#bx_auth_popup_form {
    padding: 15px 25px;
}

.login-link {
    float: right;
    padding: 11px 0 10px;
}

form .form-control {
    height: 40px;
    background: #faf9f9;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: none!important;
}

form .form-control:focus {
    background: #fff;
}

div.bx-auth-services a {
    padding: 6px 8px 8px 8px;
}
div.bx-auth-services a:hover
,div.bx-auth-services a.bx-ss-selected{
    border: 1px solid #efefef;
    background-color: #ffffff;
    border-radius: 2px;
}