.bx_item_rating{
    text-align: right;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

.rating-title {
    float: left;
    line-height: 14px;
    color: #414141;
    font-weight: lighter;
}
.bx_item_rating .bx_stars_container{
    position: relative;
    width: 61px;
    height: 12px;
    background: #dadada;
    background-size: 100% 100%;
}
.bx_item_rating .bx_stars_bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: url(images/stars.png) no-repeat center;
    cursor: pointer;
}

.bx_item_rating .bx_stars_progres{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #f18e00;
}
.bx_item_rating .bx_stars_rating_votes{
    color: #8d8d8d;
    font-size: 11px;
    line-height: 11px;
    vertical-align: middle;
}