
.bxr-header-panel .bxr-upper-part {
    line-height: 1;
    border-bottom: 1px solid #f0f0f0;
}

.bxr-header-panel .bxr-upper-part .bxr-element-row-middle {
    min-height: 48px;
}

.bxr-header-panel .bxr-upper-part .bxr-topline-menu li
,.bxr-header-panel .bxr-upper-part .bxr-phone-block li
,.bxr-header-panel .bxr-upper-part .gift-catalog-sort-panel__text-sity li
,.bxr-header-panel .bxr-upper-part span.gift-catalog-sort-panel__text-sity
,.bxr-header-panel .bxr-upper-part .bxr-login-container {
    line-height: 48px;
}

.bxr-header-panel .bxr-upper-part .bxr-topline-menu {
   padding-right: 2rem !important; 
}

.bxr-header-panel .bxr-upper-part .bxr-phone-block li li
,.bxr-header-panel .bxr-upper-part .gift-catalog-sort-panel__text-sity li li{
    line-height: 1.4;
}

.bxr-header-panel .bxr-upper-part{
    background: #fff;
    padding-left: 0;
    padding-right: 0;
}

.bxr-header-panel .bxr-upper-part > .row > div {
    line-height: 0;
}

.bxr-header-panel .bxr-upper-part .bxr-login-container {
    padding-left: 2rem;
}

.bxr-header-panel .bxr-upper-part .bxr-socnet-container {
    width: 150px;
}

.bxr-header-panel .bxr-upper-part .bxr-socnet-wrap {
    padding-right: 2rem;
}

.bxr-header-panel .bxr-upper-part .bxr-socnet-wrap .footer-socnet {
    margin-bottom: 0;
}

.bxr-header-panel .bxr-upper-part .bxr-socnet-wrap .footer-socnet:last-child {
    margin-right: 0;
}

#top-panel-region-link
,#top-panel-menu-link {
    margin-right: 2rem;
    cursor: default;
    color: #181818;
    font-size: 1em;
    display: inline-block;
    float: right;
}

#top-panel-menu-link {
    margin-right: 0;
}

#top-panel-region-link > div
,#top-panel-menu-link > div {
    display: inline-block;
}