a:focus
, a:active
, a:visited
, a:link {
    text-decoration: none;
}

.bxr-sort-panel {
    margin-bottom: 10px;
    background: #fff;
}

@media (max-width: 767px) {
    .bxr-sort-panel {
        display: none;
    }
}

.bxr-sortbutton::first-letter
, .bxr-sort-direction-wrap::first-letter {
    text-transform: capitalize;
}

.bxr-sort-direction-wrap
, .bxr-sort-num-direction-wrap {
    border: 1px solid #e2e2e2;
    border-radius: 4px 4px 0px 0px;
    color: #414141;
    height: 35px;
    line-height: 33px;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
    margin: 10px 0px;
}

.bxr-sort-direction-wrap.bxr-bordered
, .bxr-sort-num-direction-wrap.bxr-bordered {
    border-radius: 4px;
}

.bxr-sort-num-direction-wrap {
    display: inline-block;
    padding-right: 28px;
    width: 70px;
}

.fa.bxr-sort-direct {
    margin-left: 6px;
    margin-top: -5px;
    font-size: 11px;
    top: 50%;
    position: absolute;
}

.fa.bxr-direction-wrap-open {
    color: #888888;
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 9px;
}

span.bxr-current-sort {
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    display: inline-block;
    font-size: 13px;
}

span.bxr-current-sort:first-letter {
    text-transform: capitalize;
}

.bxr-sort-type-wrap
, .bxr-sort-num-wrap {
    display: none;
    /*opacity: 0;*/
    position: absolute;
    top: 33px;
    left: -1px;
    right: -1px;
    z-index: 99;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.bxr-sort-type-wrap.visible
, .bxr-sort-num-wrap.visible
, .bxr-sort-type-wrap.visible>a
, .bxr-sort-num-wrap.visible>a {
    display: block;
}

.bxr-sort-direction-wrap {
    width: 250px;
    max-width: 100%;
}

.bxr-sort-type-wrap a
,.bxr-sort-num-direction-wrap a{
    font-size: 13px;
}

.bxr-sort-num-wrap {
    width: 70px;
}

a.bxr-sortbutton
, a.bxr-sort-num {
    /*opacity: 0;*/
    color: #414141;
    display: block;
    padding: 6px 16px;
    border-bottom: 1px solid #e2e2e2;
}

a.bxr-sortbutton:hover
, a.bxr-sort-num:hover {
    text-decoration: none;
}

a.bxr-sortbutton i {
    margin-left: 6px;
}

.bxr-border-color .bxr-view-mode {
    text-decoration: none;
    margin: 10px 10px 10px 0px;
}

.bxr-view-mode {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    margin: 10px 0px 10px 2px;
    width: 35px;
    height: 35px;
    line-height: 36px;
    text-align: center;
}

.bxr-view-mode:not(.active) {
    border: 1px solid #e2e2e2;
    color: #888888;
}

.bxr-view-mode i {
    font-size: 14px;
    padding: 0;
}

.bxr-view-mode.active, .bxr-view-mode:hover {
    text-decoration: none;
}

.bxr-view-mode.active:hover {
    background: #fff;
}

@media (max-width: 767px) {
    .bxr-sort-panel .text-right {
        text-align: left;
    }
}

.bxr-sort-title {
    font-size: 13px;
    margin-right: 8px;
}

.bxr-hidden-mobile-btn {
    cursor: pointer;
}

.bxr-hidden-mobile-btn>span {
    padding-right: 10px;
}