.bxr-list .slick-slider .slick-prev
,.bxr-list .slick-slider .slick-next{
    content: ' ';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px;
}
.bxr-list .slick-slider{
    text-align: center;
}
.bxr-list .slick-slider .slick-next{
    right: 0;
    left: auto;
}

.bxr-list .slick-arrow.hidden-arrow {
    opacity: 0;
}

.bxr-list:hover .slick-arrow  {
    opacity: .4;
    box-shadow: none;
}

.bxr-list:hover .slick-arrow:hover {
    opacity: .8;
}

.bxr-list .slick-dots {
    display: inline-block !important;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.bxr-list .slick-dots li {
    display: inline-block;
    margin-right: 6px;
}

.bxr-list .slick-dots li button {
    cursor: pointer;
    position: relative;
    width: 12px;
    height: 12px;
    border: none;
    color: transparent;
    border-radius: 50%;
    font-size: 0;
}

.bxr-list .slick-dots li.slick-active button {
    background: #a3a3a3
}

.bxr-list .bxr-list h2
, .bxr-list .bxr-list .h2 {
    padding: 0;
    margin: 20px 0 20px 0;
    font-size: 24px;
}

.bxr-list .bxr-auto-height{
    height: auto;
}

.bxr-list .slick-slider .bxr-auto-height{
    min-height: 50px;
}
@media (max-width:990px){
    .bxr-list .slick-arrow.hidden-arrow {
        opacity: .3;
    }
}
@media (max-width:760px){
    .slick-slider .bxr-news-vertical-v1 .bxr-element-content.left{
        text-align: center;
    }
}